@import "./assets/fonts/iransans/iransans";
@import "./assets/fonts/material-icons/material-icons";

@import './assets/styles/material';
@import './assets/styles/tailwind';
@import './assets/styles/variables';

body {
    text-align: start;
    background-color: $background;
    line-height: 24px;
    height: 100%;
    color: $text-body;
    font-family: iransans;
    font-size: $default-fs;
  }
  
  * {
    color: $text-body;
  }